.account {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;

  &__left-side {
    width: 690px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__mobile-title {
    display: none;
  }

  &__to-all {
    @include h31;
    position: relative;
    padding-right: 34px;
    color: $text-main;
    border-bottom: none;

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      right: 0;

      width: 24px;
      height: 24px;
      background-image: url("../img/nav-arrow2_default.svg");
      background-size: cover;
      transition: all .2s ease;
    }

    &:hover {
      color: $primary;
    }

    &:hover::after {
      background-image: url("../img/nav-arrow2_hover-link.svg");
    }

    & span:last-child {
      display: none;
    }
  }

  &__subscriptions {
    margin-bottom: 50px;
  }
}

@include desktop {
  .account {
    padding-left: 0;
    padding-right: 0;

    &__title {
      width: 100%;
      align-items: flex-end;
    }

    &__mobile-title {
      @include h31;

      display: block;
      color: $text-main;
    }

    &__to-all {
      @include h15;
      padding-right: 0;

      & span:first-child {
        display: none;
      }

      &::after {
        display: none;
      }

      & span:last-child {

        display: inline;
        color: $primary;
      }
    }

    &__left-side {
      width: 100%;
    }
  }
}

@include tablet {
  .account {
    padding-top: 50px;

    &__mobile-title {
      @include h19;
    }

    &__to-all {
      & span:last-child {

        display: inline;
        color: $primary;
      }
    }
  }
}
