.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;

  &.js-show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;

    &::after {
      content: "";
      width: 0;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  &__body {
    position: relative;
    display: inline-block;
    padding: 20px;
    max-width: 690px;
    width: 90%;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 200px;
    vertical-align: middle;
    background-color: #fff;
  }

  &__close {

  }
}

@include tablet {
  .modal {
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);

    &__overlay {
      &::after {
        display: none;
      }
    }

    &__body {
      position: absolute;
      left: 0;
      top: 100%;
      transition: top 0.3s;

      display: block;
      width: 100%;
      max-width: none;
      height: 100%;
      margin: 0;
      overflow-y: auto;
    }
  }

  .modal.js-show .modal__body {
    top: 0;
  }
}

